<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="vue-2.5.16.js"></script>
  <style>
    #app {
      background: #efefef;
      min-height: 500px;
    }
    #alert {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      color: #000;
      padding: 0 10px;
      text-align: center;
    }
    #alert h2 {
      border-bottom: 1px solid #efefef;
    }
  </style>
</head>
<body>
  <div id="app"></div>
</body>
<script>

  let app = document.getElementById('app')
  app.addEventListener('click', function () {
    // 使用
    myAlert({
      title: '呵呵哒',
      content: '我是弹窗',
      confirm: function () {
        alert(1)
      },
      cancel: function (ev) {
        document.body.removeChild(document.getElementById('alert'))
      }
    });
  });

  // js动态组件
  let myAlert = (function () {
    // 默认参数
    let defaults = {
      title: '弹窗',
      content: '',
      confirm: null,
      cancel: null
    };
    // 创建html模板
    let alertTemp =  {
      template: `<div id="alert">
          <h2>{{customTitle}}</h2>
          <p>{{customContent}}</p>
          <div>
            <button v-if="customConfirm" @click="customConfirm">确定</button>  
            <button v-if="customCancel" @click="customCancel">取消</button>  
          </div>
        </div>`
    };
    // 创建一个Vue的构造函数
    let alertComp = Vue.extend(alertTemp);

    return function (opts) {
      // 遍历传递进来的对象属性，赋值给默认参数
      for (let attr in opts) {
        defaults[attr] = opts[attr];
      }
      // 创建Vue实例
      let vm = new alertComp({
        // alertTemp需要替换的元素
        el: document.createElement('div'),
        // 设置vue的data数据
        data: {
          customTitle: defaults.title,
          customContent: defaults.content,
          customConfirm: defaults.confirm,
          customCancel: defaults.cancel,
        }
      });
      // 把组件添加到body中
      let bodyEle = document.body || document.documentElement;
      bodyEle.appendChild(vm.$el); // 把vue 组件添加到DOM中
      // 如果传递了auto参数，2秒后删除
      if(auto) {
        setTimeout(function () {
          bodyEle.removeChild(vm.$el)
        },1000)
      }
    }
  })();
</script>
</html>